# Kafka
# Вставьте существующий рабочий CLUSTER_ID вашего backend.
KAFKA_CLUSTER_ID=change_me

# Backend
BACKEND_PORT=8000

BACKEND_POSTGRES_USER=change_me
BACKEND_POSTGRES_PASSWORD=change_me
BACKEND_POSTGRES_DB=change_me
BACKEND_POSTGRES_PORT=5432

BACKEND_REDIS_PORT=6479


# Support
SUPPORT_PORT=8067

SUPPORT_POSTGRES_USER=change_me
SUPPORT_POSTGRES_PASSWORD=change_me
SUPPORT_POSTGRES_DB=change_me
SUPPORT_POSTGRES_PORT=5467

SUPPORT_REQUEST_TOPIC=support_request
SUPPORT_RESPONSE_TOPIC=support_response

MAESTRO_MEMORY_URL=http://memory-api:8889/memory
MAESTRO_MEMORY_TIMEOUT=300


# ML
MEMORY_API_PORT=8889
QDRANT_PORT=6333
QDRANT_BIND_ADDRESS=127.0.0.1

# Путь к модели:
EMBEDDING_MODEL_HOST_PATH=change_me

OLLAMA_HOST=http://host.docker.internal:11434
OLLAMA_MODEL=gpt-oss:20b

MEMORY_OLLAMA_TIMEOUT=180

LLM_REQUEST_TOPIC=llm-requests
LLM_RESPONSE_TOPIC=llm-responses


# Analytics
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me

LLM_USER_UUID=d5945eab-e4e5-4746-ab25-607bcd7cb644